body {
    background-color: #E8E8E8;
    margin: 0;
}
p {
    height: 100px;
    width: 100%;
    position: relative;
}
.imagem1 {
    margin-left: 100px;
}
.imagem3 {
    height: 400px;
    width: 10000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.9;
}
.botão1 {
    margin-left: 1200px;
    margin-right: 500px;
}
p {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
}
.texto1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    position: absolute;
    color:#234062;
    text-align: center;
    top: 250px;
    width: 400px;
    line-height: 30px;
    height: 30px;
    margin-left: 790px;
    font-weight: 900;
    text-shadow: 5px 5px rgb(255, 255, 255);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(11, 4, 70);
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: rgb(153, 150, 150);
}
.active {
    background-color: rgb(85, 82, 82);
}
.botão2 {
    position: absolute;
    background-color: rgb(9, 1, 39);
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    top: -70px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 300px 330px;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 
    0 17px 50px 0 rgba(0,0,0,0.19);
    left: 0;
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 0.8;
}
.texto2 {
    font-family: "Advent Pro", Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    position: absolute;
    color:#0e2744;
    text-align: center;
    top: 850px;
    width: 500px;
    line-height: 30px;
    height: 100px;
    margin-left: 480px;
    font-weight: 700px;
}
.texto3 {
    font-family: "Archivo", Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    position: absolute;
    color:#0e2744;
    text-align: center;
    top: 885px;
    width: 200px;
    line-height: 30px;
    height: 100px;
    margin-left: 620px;
    font-weight: 900px;
}
.texto7 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    position: absolute;
    color:#0e2744;
    text-align: center;
    top: 930px;
    width: 200px;
    line-height: 30px;
    height: 100px;
    margin-left: 320px;
    font-weight: 900px;
}
.texto8 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    position: absolute;
    color:#0e2744;
    text-align: center;
    top: 930px;
    width: 200px;
    line-height: 30px;
    height: 100px;
    margin-left: 620px;
    font-weight: 900px;
}
.texto9 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    position: absolute;
    color:#0e2744;
    text-align: center;
    top: 930px;
    width: 200px;
    line-height: 30px;
    height: 100px;
    margin-left: 920px;
    font-weight: 900px;
}
.texto10 {
    font-family: "Advent Pro", Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    position: absolute;
    color:#0e2744;
    text-align: center;
    top: 1400px;
    width: 400px;
    line-height: 30px;
    height: 100px;
    margin-left: 520px;
    font-weight: 900px;
}
.texto11 {
    font-family: "Archivo", Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    position: absolute;
    color:#0e2744;
    text-align: center;
    top: 1430px;
    width: 200px;
    line-height: 30px;
    height: 100px;
    margin-left: 620px;
    font-weight: 900px;
}
.imagem6 {
    top: 160px;
    margin-left: 220px;
    font-weight: 1000px;
    position: relative;
}
.imagem7 {
    top: 160px;
    margin-left: 70px;
    font-weight: 1000px;
    position: relative;
}
.imagem8 {
    top: -130px;
    margin-left: 950px;
    font-weight: 10px;
    position: relative;
}
.texto12 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    position: absolute;
    color:#0e2744;
    text-align: center;
    top: 1585px;
    width: 200px;
    line-height: 30px;
    height: 100px;
    margin-left: 250px;
    font-weight: 900px;
}
.texto13 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    position: absolute;
    color:#0e2744;
    text-align: center;
    top: 1585px;
    width: 200px;
    line-height: 30px;
    height: 100px;
    margin-left: 620px;
    font-weight: 900px;
}
.texto14 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    position: absolute;
    color:#0e2744;
    text-align: center;
    top: 1585px;
    width: 200px;
    line-height: 30px;
    height: 100px;
    margin-left: 990px;
    font-weight: 900px;
}
.imagem9 {
    top: 0px;
    margin-left: 220px;
    font-weight: 1000px;
    position: relative;
}
.imagem10 {
    top: 0px;
    margin-left: 70px;
    font-weight: 1000px;
    position: relative;
}
.imagem11 {
    top: -280px;
    margin-left: 950px;
    font-weight: 10px;
    position: relative;
}
.texto15 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    position: absolute;
    color:#0e2744;
    text-align: center;
    top: 1990px;
    width: 200px;
    line-height: 30px;
    height: 100px;
    margin-left: 250px;
    font-weight: 900px;
}
.texto16 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    position: absolute;
    color:#0e2744;
    text-align: center;
    top: 1990px;
    width: 200px;
    line-height: 30px;
    height: 100px;
    margin-left: 620px;
    font-weight: 900px;
}
.texto17 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    position: absolute;
    color:#0e2744;
    text-align: center;
    top: 1990px;
    width: 200px;
    line-height: 30px;
    height: 100px;
    margin-left: 990px;
    font-weight: 900px;
}
.texto18 {
    font-family: "Advent Pro";
    font-size: 30px;
    position: absolute;
    color:#0e2744;
    text-align: center;
    top: 2400px;
    width: 200px;
    line-height: 30px;
    height: 100px;
    margin-left: 610px;
    font-weight: 900px;
}
.imagem12 {
    border-radius: 100px;
    top: -620px;
    margin-left: 720px;
    font-weight: 10px;
    position: relative;
    border:6px solid rgb(3, 13, 68);
}
.texto19 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    position: absolute;
    color:#0e2744;
    text-align: center;
    top: 2900px;
    width: 400px;
    line-height: 30px;
    height: 100px;
    margin-left: 480px;
    font-weight: 900px;
}
.texto20 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    position: absolute;
    color:#0e2744;
    text-align: center;
    top: 2440px;
    width: 400px;
    line-height: 30px;
    height: 100px;
    margin-left: 519px;
    font-weight: 900px;
}
.imagem13 {
    border-radius: 100px;
    top: -875px;
    margin-left: 605px;
    font-weight: 10px;
    position: relative;
    border:6px solid rgb(3, 13, 68);
}
.texto21 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    position: absolute;
    color:#0e2744;
    text-align: center;
    top: 2760px;
    width: 400px;
    line-height: 30px;
    height: 100px;
    margin-left: 595px;
    font-weight: 900px;
}
.texto22 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    position: absolute;
    color:#0e2744;
    text-align: center;
    top: 2730px;
    width: 400px;
    line-height: 30px;
    height: 100px;
    margin-left: 519px;
    font-weight: 900px;
}
.imagem14 {
    border-radius: 120px;
    top: -1130px;
    margin-left: 717px;
    font-weight: 10px;
    position: relative;
    border:6px solid rgb(3, 13, 68);
}
.texto23 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    position: absolute;
    color:#0e2744;
    text-align: center;
    top: 2620px;
    width: 400px;
    line-height: 30px;
    height: 100px;
    margin-left: 482px;
    font-weight: 900px;
}
.texto24 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    position: absolute;
    color:#0e2744;
    text-align: center;
    top: 3020px;
    width: 400px;
    line-height: 30px;
    height: 100px;
    margin-left: 519px;
    font-weight: 900px;
}
.imagem15 {
    border-radius: 120px;
    top: -1270px;
    margin-left: -230px;
    font-weight: 10px;
    position: relative;
    border:6px solid rgb(3, 13, 68);
}
.texto25 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    position: absolute;
    color:#0e2744;
    text-align: center;
    top: 2465px;
    width: 400px;
    line-height: 30px;
    height: 100px;
    margin-left: 600px;
    font-weight: 900px;
}
.texto26 {
    font-family: "Advent Pro", Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    position: absolute;
    color:#0e2744;
    text-align: center;
    top: 3150px;
    width: 200px;
    line-height: 30px;
    height: 100px;
    margin-left: 615px;
    font-weight: 900px;
}
.imagem19 {
    top: -990px;
    margin-left: 345px;
    font-weight: 10px;
    position: relative;
    -webkit-filter:grayscale(100%);
}
.imagem19:hover{
    -webkit-filter:grayscale(0%);
    transition: 0,5s;
}
.imagem20 {
    top: -990px;
    margin-left: 135px;
    font-weight: 10px;
    position: relative;
    -webkit-filter:grayscale(100%);
}
.imagem20:hover{
    -webkit-filter:grayscale(0%);
    transition: 0,5s;
}
.imagem21 {
    top: -990px;
    margin-left: 165px;
    font-weight: 10px;
    position: relative;
    -webkit-filter:grayscale(100%);
}
.imagem21:hover{
    -webkit-filter:grayscale(0%);
    transition: 0,5s;
}
.imagem22 {
    top: -990px;
    margin-left: 150px;
    font-weight: 10px;
    position: relative;
    -webkit-filter:grayscale(100%);
}
.imagem22:hover{
    -webkit-filter:grayscale(0%);
    transition: 0,5s;
}
.card {
    top: 450px;
    margin-left: 350px;
    font-weight: 10px;
    position: relative;
}
#myFooter {
    background-color: rgb(11, 4, 70);
    color: white;
    padding-top: 30px;
}

#myFooter .footer-copyright {
    background-color: rgb(11, 4, 70);
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .instagram:hover {
    color: purple;
}

#myFooter .twitter:hover {
    color: #00aced;
}

#myFooter .btn {
    color: white;
    background-color: #000000;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}


/* CSS utilizado para posicionar o rodapé no final da página. */
/* Você pode remover isso. */

html{
    height: 100%;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

.content{
   flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
   min-height: 600px;
}

#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}
.imagem26 {
    top: 10px;
    margin-left: -20px;
    font-weight: 10px;
    position: relative;
}
.downloads {
    top: 100px;
    margin-left: -60px;
    width: 210px;
}
.home {
    top: 100px;
    margin-left: -20px;
}
.informações {
    top: 100px;
    margin-left: -20px;
}
.contato {
    top: 100px;
    margin-left: -20px;
}
.blog {
    top: 100px;
    margin-left: -88px;
    width: 210px;
}
.FAQ {
    top: 100px;
    margin-left: -88px;
    width: 210px;
}
.telefones {
    top: 100px;
    margin-left: -88px;
    width: 245px;
}
.chat {
    top: 100px;
    margin-left: -88px;
    width: 210px;
}
.assessoria {
    top: 100px;
    border-radius: 100px;
    margin-left: 350px;
    margin-top: -26px;
}
.logística {
    top: 100px;
    border-radius: 100px;
    margin-left: 160px;
    margin-top: -26px;
}
.auditoria {
    top: 100px;
    border-radius: 100px;
    margin-left: -5px;
    margin-top: -26px;
}
.texto33 {
    margin-left: 320px;
    width: 400px;
    font-size: 24px;
}
.texto34 {
    margin-left: 300px;
    width: 250px;
    word-spacing: 2px;
}
.texto35 {
    margin-left: 140px;
    width: 400px;
    font-size: 24px;
}
.texto36 {
    margin-left: 110px;
    width: 250px;
    word-spacing: 2px;
}
.texto37 {
    margin-left: -33px;
    width: 400px;
    font-size: 24px;
}
.texto38 {
    margin-left: -70px;
    width: 250px;
    word-spacing: 2px;
}
.container {
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.card2 {
    top: -5px;
    margin-left: 650px;
    font-weight: 10px;
    position: relative;
    background-color: white;
}
.card3 {
    top: -5px;
    margin-left: 950px;
    font-weight: 10px;
    position: relative;
    background-color: white;
}
.card1 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    top: 260px;
    margin-left: 280px;
    font-weight: 10px;
    height: 380px;
}
.card2 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    top: -120px;
    margin-left: 580px;
    font-weight: 10px;
    height: 380px;
}
.card3 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    top: -500px;
    margin-left: 878px;
    font-weight: 10px;
    height: 380px;
}
.card4 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    top: -490px;
    margin-left: 278px;
    font-weight: 10px;
    height: 380px;
}
.imagem26 {
    margin-left: 0px;
    top: 0px;
}
.card5 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    top: -870px;
    margin-left: 580px;
    font-weight: 10px;
    height: 380px;
}
.card6 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    top: -1250px;
    margin-left: 878px;
    font-weight: 10px;
    height: 380px;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    top: -116px;
    opacity: 1;
  }
  
  /* Caption text */
  .text {
    color:#0e2744;
    font-size: 50px;
    padding: 50px 12px;
    position: absolute;
    bottom: 8px;
    width: 90%;
    text-align: center;
    border-style: solid;
    align-items: center;
    top: 450px; 
    left: 50px;
    text-shadow: 2px 2px white;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 10s;
    animation-name: fade;
    animation-duration: 10s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: 1} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }
.texto39 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    position: absolute;
    color:#0e2744;
    text-align: center;
    top: 2495px;
    width: 500px;
    line-height: 20px;
    height: 100px;
    margin-left: 680px;
    font-weight: 900px;
}
.texto40 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    position: absolute;
    color:#0e2744;
    text-align: center;
    top: 2650px;
    width: 500px;
    line-height: 30px;
    height: 100px;
    margin-left: 243px;
    font-weight: 900px;
}
.texto41 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    position: absolute;
    color:#0e2744;
    text-align: center;
    top: 2790px;
    width: 500px;
    line-height: 20px;
    height: 100px;
    margin-left: 722px;
    font-weight: 900px;
}
.texto42 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    position: absolute;
    color:#0e2744;
    text-align: center;
    top: 2930px;
    width: 500px;
    line-height: 20px;
    height: 100px;
    margin-left: 225px;
    font-weight: 900px;
}
.card7 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    top: -620px;
    margin-left: 330px;
    font-weight: 10px;
    height: 250px;
}
.card8 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    top: -870px;
    margin-left: 620px;
    font-weight: 10px;
    height: 265px;
}
.card9 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    top: -1137px;
    margin-left: 920px;
    font-weight: 10px;
    height: 245px;
}


